.home-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  font-family: 'Nunito Sans';
}

.logo-header {
  background-color: var(--color-primary);
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
  position: relative;
  border-bottom-left-radius: 50% 15%;
  border-bottom-right-radius: 50% 15%;
}

.main-meal {
  position: absolute;
  z-index: 10;
  bottom: 25%;
}

.main-meal img {
  width: 75rem;
}

.cta {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 5rem;
}

h1 {
  color: white;
  margin-bottom: 1rem;
}
