.home-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-meal {
  position: absolute;
  z-index: 10;
  bottom: 25%;
}

.main-meal img {
  width: 75rem;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 5rem;
}

h1 {
  color: white;
  margin-bottom: 1rem;
}

.home-screen,
.logo-header,
.header,
.icon.logo {
  fill: var(--color-secondary);
}
